@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
  font-family: "Ubuntu", Helvetica, sans-serif;
  text-align: center;
  min-width: 260px;
  background-color: rgb(106, 174, 236);
}

.wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}

.formWrapper {
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    max-width: 1080px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.header, .footer {
    grid-column: 1 /-1;
}

.labels {
    justify-items: right;
    text-align: right;
    padding: .5em;
}

.rightTab {
    justify-items: left;
    text-align: left;
}

.subtext {
    color: rgb(58, 58, 58);
    padding: 0em 1em 0em 1em;
  }

#submit,
#reset {
  background-color: #59ace0;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 2em;
  width: 5em;
  margin: 1em;
  border: 1px solid #c0c0c0;
}

.input-field, .input-field-age, .dropdown {
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: .5em;
}

.input-field, .input-field-age {
    height: 1.5em;
}

.input-field {
    width: 20em;    
}

.input-field-age {
    width: 7em;
}

.dropdown {
    height: 2.5em;
    width: 8em;
    margin-top: .2em;
}

@media screen and (max-width: 520px) {
    .input-field {
      width: 10em;
    }
  }