@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html,body {
  font-family: "Ubuntu", Helvetica, sans-serif;
  text-align: center;
  min-width: 320px;
  background-color: #81BEF7;
}

#form-outer {
  background-color: white;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px;
  width: 85%;
  max-width: 900px;
  padding-top: 10px;
}

.labels {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 40%;
  padding: 5px;
  margin-top: 10px;
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 40%;
  vertical-align: bottom;
}

.radio, .checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

#number {
  width: 60px;
}

.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;  
  margin-top: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

#submit,
#reset {
  background-color: #59ace0;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}

input[type="checkbox"],
input[type="radio"] {
  float: left;
  margin-right: 5px;
}

/*Everything below is a WIP that I need to check into*/

.radio, .checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}